@model LocationModel


@{
    ViewData["Title"] = "Delete";
}

<form method="post">
    <input hidden asp-for="Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Location</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>State</label>
            <input disabled asp-for="State" class="form-control" />
        </div>
        <div class="mb-3">
            <label>City</label>
            <input disabled asp-for="City" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Country</label>
            <input disabled asp-for="Country" class="form-control" />
        </div>

        <br />
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Location" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>